<main
	class="flex flex-col items-center justify-center w-full min-h-screen bg-primary/10"
>
	<h1 class="font-extrabold tracking-widest text-primary/40 text-[280px]">
		404
	</h1>
	<div class="absolute px-2 rounded bg-primary/90 rotate-12 text-[40px]">
		Page Not Found
	</div>
	<p class="my-2 text-2xl font-bold text-gray-800">
		Looks like you've found the doorway to the great nothing
	</p>
	<p class="my-2 text-lg text-gray-800">
		Sorry about that! Please visit the homepage to get where you need to go.
	</p>
	<a
		href="/"
		class="inline-block w-full px-8 py-4 my-2 text-center text-white border rounded-full bg-primary sm:w-auto hover:bg-primary/90 focus:outline-none focus:ring-2 focus:ring-primary/90 focus:ring-opacity-50 nav-link"
	>
		Take me there!
	</a>
</main>
;
